body {
	  margin: 0;
	}

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 25%;
	  background-color: #f1f1f1;
	  position: fixed;
	  height: 100%;
	  overflow: auto;
	}

	li a {
	  display: block;
	  color: #000;
	  padding: 8px 16px;
	  text-decoration: none;
	}

	li a.active {
	  background-color: #4CAF50;
	  color: white;
	}

	li a:hover:not(.active) {
	  background-color: #555;
	  color: white;
	}

	.postdiv{
		padding: 16px 32px;
	  	text-align: left;
	  	font-size: 16px;
	  	margin: 4px 2px;
		margin-left:25%;
		padding:1px 16px;
		height:1000px;
	}

	#searchbox {
		 width: 700px; 
		 padding: 16px 32px;
	  	 text-align: left;
	  	 font-size: 16px;
	  	 margin: 4px 2px;
	}

	#createEventBtn {
		background-color:grey;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  font-size: 16px;
	  margin: 4px 2px;
	  opacity: 0.6;
	  transition: 0.3s;
	  display: inline-block;
	  text-decoration: none;
	  cursor: pointer;
	}

	.buttonSearch{
	  background-color: green;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  font-size: 16px;
	  margin: 4px 2px;
	  opacity: 0.6;
	  transition: 0.3s;
	  display: inline-block;
	  text-decoration: none;
	  cursor: pointer;
	}

	.buttonSearch:hover {opacity: 1}

	#postsdiv {
		width: 950px;
		margin: 4px 2px;
	}

	#buttonPost{
	  background-color: blue;
	  border: none;
	  color: white;
	  float: right;
	  padding: 10px 20px;
	  text-align: center;
	  font-size: 16px;
	  margin: 0.25px 0.25px;
	  opacity: 0.6;
	  transition: 0.3s;
	  display: inline-block;
	  text-decoration: none;
	  cursor: pointer;
	}

	#buttonPost:hover {opacity: 1}

	.postTextArea {
		 height: 150px;
		 width: 875px;
		 padding: 16px 32px;
	  	 text-align: left;
	  	 font-family: serif;
	  	 font-size: 14px;
	  	 margin: 4px 2px;
	}

	.Headings {
		font-size: 22px;
		text-align: left;
		font-family: sans-serif;
		font-style: bold;
		color: #0000ff;
	}